systeminfo-grouper:
  type: "yasb.grouper.GrouperWidget"
  options:
    class_name: "systeminfo-grouper"
    widgets: [
      "cpu-temp",
      "cpu-load",
      "memory",
      "nvme-load",
      "traffic",
      "battery",
      "discharge-rate"
    ]