glazewm-tiling-direction:
  type: "glazewm.tiling_direction.GlazewmTilingDirectionWidget"
  options:
    horizontal_label: "\udb81\udce1"
    vertical_label: "\udb81\udce2"
    btn_shadow:
      enabled: true
      color: "black"
      radius: 3
      offset: [ 1, 1 ]