language:
  type: "yasb.language.LanguageWidget"
  options:
    label: "{lang[language_code]}"
    label_alt: "{lang[language_code]}"
    update_interval: 1
    language_menu:
      blur: true
      round_corners: true
      round_corners_type: "normal"
      border_color: "system"
      alignment: "right"
      direction: "down"
      offset_top: 6
      offset_left: 0
      show_layout_icon: true
      layout_icon: "\uf11c"
    label_shadow:
      enabled: true
      color: "black"
      radius: 3
      offset: [ 1, 1 ]