primary-bar:
  enabled: true
  screens: ["*"]
  class_name: "yasb-bar"
  alignment:
    position: "top"
    center: false
  animation:
    enabled: true
    duration: 1000
  blur_effect:
    enabled: false
    acrylic: false
    dark_mode: false
    round_corners: false
    round_corners_type: "normal"
    border_color: "System"
  window_flags:
    always_on_top: false
    windows_app_bar: true
  dimensions:
    width: "100%"
    height: 32
  padding:
    top: 5
    left: 5
    bottom: 0
    right: 5
  widgets:
    left: [
      "clock",
      "sound-grouper",
      "glazewm-grouper"
    ]
    center: []
    right: [
      "systeminfo-grouper",
      "language",
      "connection-grouper"
    ]