media:
  type: "yasb.media.MediaWidget"
  options:
    label: "{title}"
    label_alt: "{artist} - {title}"
    max_field_size:
      label: 24
      label_alt: 24
    show_thumbnail: true
    controls_only: false
    controls_left: true
    hide_empty: false
    thumbnail_alpha: 80
    thumbnail_padding: 24
    thumbnail_corner_radius: 0
    thumbnail_edge_fade: true
    icons:
      prev_track: "\udb81\udcae"
      next_track: "\udb81\udcad"
      play: "\udb81\udc0a"
      pause: "\udb80\udfe4"